.logo {
  position: absolute;
  top: 10px;
  width: 120px;
  height: auto; 
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
